.youtube{height: 50px;
    margin-top: 450px;
}
.subscribe{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: crimson;
}
.heading{background-color: cornflowerblue;
    size: 90px;
}
.instagram{height: 50px;

}
.heading{style="border:2px solid Tomato;

}   
.discord{height: 50px;

}
.cool{height: 500px;  

}